<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenjx.redwars.dao.CityDao">
    <resultMap id="BaseResultMap" type="com.chenjx.redwars.domain.City">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
    </resultMap>

    <parameterMap id="ScreenUrl" type="com.chenjx.redwars.domain.ScreenUrl"/>

    <sql id="Base_Column_List">
        id, name, url
    </sql>

    <select id="findScreenUrlsByNames" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from city
    </select>

    <insert id="saveScreenUrls" parameterMap="ScreenUrl" useGeneratedKeys="true" keyProperty="id">
        insert into
        city(province_id,city_name,description)
        values
        (#{provinceId},#{cityName},#{description})
    </insert>

</mapper>
